services:
  - type: web
    name: slotswapper-backend
    env: node
    plan: free
    branch: main
    root: backend
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
